@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mbs-blue: #2376BE;
  --mbs-blue-dark: #1a5a94;
  --mbs-blue-light: #64B0EE;
  --mbs-green: #AA9F47;
  --mbs-green-dark: #8a8039;
  --mbs-gray: #4A5568;
  --mbs-silver: #BCC0C4;
}

body {
  font-family: var(--font-poppins), sans-serif;
}
